<!-- Document Wrapper
	============================================= -->
<div id="wrapper" class="clearfix">

  <app-header></app-header>
  <!-- Content
        ============================================= -->
  <!-- Content
		============================================= -->
  <section id="content">

    <div class="content-wrap" style="padding-bottom: 20px;">

      <div class="container clearfix">

        <div class="col-md-8 nopadding">

          <div class="col-md-6 noleftpadding bottommargin-sm">
            <a href="#"><img src="/assets/images/web/banner2.jpg" alt="Image"></a>
          </div>

          <div class="col-md-6 noleftpadding bottommargin-sm">
            <a href="#"><img src="/assets/images/shop/banners/8.jpg" alt="Image"></a>
          </div>

          <div class="clear"></div>

          <div class="col-md-12 noleftpadding">
            <a href="#"><img src="/assets/images/web/banner3.jpg" alt="Image"></a>
          </div>

        </div>

        <div class="col-md-4 nopadding">
          <a href="#"><img src="/assets/images/web/banner5.jpg" alt="Image"></a>
        </div>

        <div class="clear bottommargin-lg"></div>

        <div id="section-couple" class="heading-block title-center page-section">
          <span>Welcome to</span>
          <h2>YIMIKA SOUL FACTORY</h2>
        </div>

        <div class="col-md-12 bottommargin">
          <div class="team team-list clearfix">
            <div class="team-image" style="width: 150px;">
              <img class="img-circle" src="/assets/images/web/profile.jpg" alt="Bryant Kellam">
            </div>
            <div class="team-desc">
              <div class="team-title">
                <h4>Yinka Fabamise</h4><span>My Profile</span>
              </div>
              <div class="team-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, pariatur,
                magni! Omnis reiciendis architecto, cupiditate fuga dolores nam accusamus iste molestias quos mollitia
                totam eius porro culpa incidunt, sunt rerum molestiae aliquid non hic.</div>
              <div class="line topmargin-sm nobottommargin"></div>
              <a href="#" class="social-icon si-borderless si-small si-facebook" title="Facebook">
                <i class="icon-facebook"></i>
                <i class="icon-facebook"></i>
              </a>
              <a href="#" class="social-icon si-borderless si-small si-twitter" title="Twitter">
                <i class="icon-twitter"></i>
                <i class="icon-twitter"></i>
              </a>
              <a href="#" class="social-icon si-borderless si-small si-pinterest" title="Pinterest">
                <i class="icon-pinterest"></i>
                <i class="icon-pinterest"></i>
              </a>
              <a href="#" class="social-icon si-borderless si-small si-instagram" title="Instagram">
                <i class="icon-instagram"></i>
                <i class="icon-instagram"></i>
              </a>
            </div>
          </div>
        </div>

      </div>

    </div>

  </section>
  <!-- #content end -->

  <!-- Content
		============================================= -->
  <section id="content">

    <div class="content-wrap">

      <div class="section notopmargin footer-stick">
        <div class="container clearfix">

          <div id="section-rsvp" class="heading-block title-center topmargin page-section">
            <h2>Talk to Us.</h2>
            <span>Planning for an event, make an inquiry, partner with us?.</span>
          </div>

          <div class="contact-widget">
            <div class="contact-form-result"></div>

            <form id="wedding-rsvp-form" action="include/rsvp.php" method="post" class="bottommargin-lg divcenter"
              style="max-width: 500px;" role="form">

              <div class="form-process"></div>

              <div class="col_full">
                <input type="text" name="wedding-rsvp-name" id="wedding-rsvp-name" required="true"
                  class="form-control required input-lg" placeholder="Your Full Name">
              </div>

              <div class="col_full">
                <input type="text" name="wedding-rsvp-email" id="wedding-rsvp-email" required="true"
                  class="form-control required email input-lg" placeholder="Your E-mail Address">
              </div>

              <div class="col_full">
                <input type="number" min="1" max="10" name="wedding-rsvp-guests" id="wedding-rsvp-guests"
                  class="form-control required input-lg" placeholder="No. of Guests">
              </div>

              <div class="col_full">
                <select name="wedding-rsvp-events" id="wedding-rsvp-events" required="true"
                  class="form-control required input-lg">
                  <option value="Wedding Ceremony">Wedding Ceremony</option>
                  <option value="Reception">Reception</option>
                  <option value="All Events">All Events</option>
                  <option value="Not Attending">Not Attending</option>
                </select>
              </div>

              <div class="col_full hidden">
                <input type="text" id="wedding-rsvp-botcheck" name="wedding-rsvp-botcheck" value=""
                  class="form-control" />
              </div>

              <div class="col_full nobottommargin">
                <button type="submit" name="wedding-rsvp-submit" id="wedding-rsvp-submit"
                  class="button button-3d btn-block nomargin button-dark button-xlarge" value="submit">Submit</button>
              </div>

            </form>

          </div>
        </div>

      </div>

    </div>

  </section><!-- #content end -->


</div>
<!-- #wrapper end -->

<!-- Audio Player
        ============================================= -->

<app-footer></app-footer>
