   <!-- Content
		============================================= -->
   <section id="content">

     <div class="content-wrap">

       <div class="container clearfix">

         <div class="clear bottommargin-sm"></div>

         <div class="heading-block bottommargin-sm noborder dark">
           <h3>Popular Songs of the Week</h3>
           <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
         </div>

         <div class="col-md-8 nopadding">

           <div class="col-md-6 noleftpadding bottommargin-sm">
             <a href="#"><img src="/assets/images/web/banner2.jpg" alt="Image"></a>
           </div>

           <div class="col-md-6 noleftpadding bottommargin-sm">
             <a href="#"><img src="/assets/images/shop/banners/8.jpg" alt="Image"></a>
           </div>

           <div class="clear"></div>

           <div class="col-md-12 noleftpadding">
             <a href="#"><img src="/assets/images/shop/banners/4.jpg" alt="Image"></a>
           </div>

         </div>

         <div class="col-md-4 nopadding">
           <a href="#"><img src="/assets/images/web/banner1.jpg" alt="Image"></a>
         </div>

         <div class="clear bottommargin-sm"></div>


         <div class="heading-block bottommargin-sm noborder dark">
           <h3>Popular Songs of the Week</h3>
           <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
         </div>

         <!-- Carousel
					============================================= -->
         <div id="oc-popular-songs" class="owl-carousel image-carousel carousel-widget" data-margin="20" data-nav="true"
           data-pagi="false" data-items-xxs="2" data-items-xs="3" data-items-sm="4" data-items-md="6" data-items-lg="6">

           <!-- Carousel Items
						============================================= -->
           <div class="oc-item" data-animate="fadeInDown">
             <img src="/assets/demos/music/images/popular-songs/8.jpg" alt="Image 1">
             <div class="overlay">
               <div class="text-overlay">
                 <div class="text-overlay-title">
                   <h3><a href="#">Maq Amor</a></h3>
                 </div>
                 <div class="text-overlay-meta">
                   <a href="#">The Universe</a>
                 </div>
               </div>
               <div class="on-hover">
                 <a href="#" class="ellipsis-icon"><i class="icon-line-ellipsis"></i></a>
                 <a href="#" class="play-icon track-list" data-track="demos/music/tracks/maq-amor.mp3"
                   data-poster="demos/music/tracks/poster-images/maq-amor.jpg" data-title="Maq Amor"
                   data-singer="The Universe"><i class="icon-play"></i></a>
               </div>
             </div>
           </div>
           <div class="oc-item" data-animate="fadeInDown" data-delay="100">
             <img src="/assets/demos/music/images/popular-songs/9.jpg" alt="Image 1">
             <div class="overlay">
               <div class="text-overlay">
                 <div class="text-overlay-title">
                   <h3><a href="#">Stagger Lee</a></h3>
                 </div>
                 <div class="text-overlay-meta">
                   <a href="#">Ed Sheeran</a>
                 </div>
               </div>
               <div class="on-hover">
                 <a href="#" class="ellipsis-icon"><i class="icon-line-ellipsis"></i></a>
                 <a href="#" class="play-icon track-list" data-track="demos/music/tracks/stagger-lee.mp3"
                   data-poster="demos/music/tracks/poster-images/stagger-lee.jpg" data-title="Stagger Lee"
                   data-singer="Ed Sheeran"><i class="icon-play"></i></a>
               </div>
             </div>
           </div>
           <div class="oc-item" data-animate="fadeInDown" data-delay="250">
             <img src="/assets/demos/music/images/popular-songs/7.jpg" alt="Image 1">
             <div class="overlay">
               <div class="text-overlay">
                 <div class="text-overlay-title">
                   <h3><a href="#">Clean Clean</a></h3>
                 </div>
                 <div class="text-overlay-meta">
                   <a href="#">R Costello</a>
                 </div>
               </div>
               <div class="on-hover">
                 <a href="#" class="ellipsis-icon"><i class="icon-line-ellipsis"></i></a>
                 <a href="#" class="play-icon track-list" data-track="demos/music/tracks/clean-clean.mp3"
                   data-poster="demos/music/images/popular-songs/7.jpg" data-title="Clean Clean"
                   data-singer="R Costello"><i class="icon-play"></i></a>
               </div>
             </div>
           </div>
           <div class="oc-item" data-animate="fadeInDown" data-delay="400">
             <img src="/assets/demos/music/images/popular-songs/1.jpg" alt="Image 1">
             <div class="overlay">
               <div class="text-overlay">
                 <div class="text-overlay-title">
                   <h3><a href="#">Take The Dare</a></h3>
                 </div>
                 <div class="text-overlay-meta">
                   <a href="#">Bruno Mars</a>
                 </div>
               </div>
               <div class="on-hover">
                 <a href="#" class="ellipsis-icon"><i class="icon-line-ellipsis"></i></a>
                 <a href="#" class="play-icon track-list" data-track="demos/music/tracks/take_the_dare.mp3"
                   data-poster="demos/music/images/popular-songs/1.jpg" data-title="Take The Dare"
                   data-singer="Bruno Mars"><i class="icon-play"></i></a>
               </div>
             </div>
           </div>
           <div class="oc-item" data-animate="fadeInDown" data-delay="550">
             <img src="/assets/demos/music/images/popular-songs/3.jpg" alt="Image 1">
             <div class="overlay">
               <div class="text-overlay">
                 <div class="text-overlay-title">
                   <h3><a href="#">Fallin Extended Mix</a></h3>
                 </div>
                 <div class="text-overlay-meta">
                   <a href="#">Justin</a>
                 </div>
               </div>
               <div class="on-hover">
                 <a href="#" class="ellipsis-icon"><i class="icon-line-ellipsis"></i></a>
                 <a href="#" class="play-icon track-list" data-track="demos/music/tracks/fallin-extended-mix.mp3"
                   data-poster="demos/music/tracks/poster-images/fallin-extended-mix.jpg"
                   data-title="Fallin Extended Mix" data-singer="Justin"><i class="icon-play"></i></a>
               </div>
             </div>
           </div>
           <div class="oc-item" data-animate="fadeInDown" data-delay="700">
             <img src="/assets/demos/music/images/popular-songs/4.jpg" alt="Image 1">
             <div class="overlay">
               <div class="text-overlay">
                 <div class="text-overlay-title">
                   <h3><a href="#">I Need You Now</a></h3>
                 </div>
                 <div class="text-overlay-meta">
                   <a href="#">Skelton</a>
                 </div>
               </div>
               <div class="on-hover">
                 <a href="#" class="ellipsis-icon"><i class="icon-line-ellipsis"></i></a>
                 <a href="#" class="play-icon track-list" data-track="/assets/demos/music/tracks/i-need-you-now.mp3"
                   data-poster="/assets/demos/music/tracks/poster-images/i-need-you-now.jpg" data-title="I Need You Now"
                   data-singer="Skelton"><i class="icon-play"></i></a>
               </div>
             </div>
           </div>
           <div class="oc-item" data-animate="fadeInDown">
             <img src="/assets/demos/music/images/popular-songs/2.jpg" alt="Image 1">
             <div class="overlay">
               <div class="text-overlay">
                 <div class="text-overlay-title">
                   <h3><a href="#">Tammy Stan Devereaux</a></h3>
                 </div>
                 <div class="text-overlay-meta">
                   <a href="#">Devereaux</a>
                 </div>
               </div>
               <div class="on-hover">
                 <a href="#" class="ellipsis-icon"><i class="icon-line-ellipsis"></i></a>
                 <a href="#" class="play-icon track-list"
                   data-track="/assets/demos/music/tracks/tammy-stan-devereaux.mp3"
                   data-poster="/assets/demos/music/tracks/poster-images/tammy-stan-devereaux.jpg"
                   data-title="Tammy Stan Devereaux" data-singer="Devereaux"><i class="icon-play"></i></a>
               </div>
             </div>
           </div>
           <div class="oc-item" data-animate="fadeInDown">
             <img src="/assets/demos/music/images/popular-songs/5.jpg" alt="Image 1">
             <div class="overlay">
               <div class="text-overlay">
                 <div class="text-overlay-title">
                   <h3><a href="#">Something About Love</a></h3>
                 </div>
                 <div class="text-overlay-meta">
                   <a href="#">Sian</a>
                 </div>
               </div>
               <div class="on-hover">
                 <a href="#" class="ellipsis-icon"><i class="icon-line-ellipsis"></i></a>
                 <a href="#" class="play-icon track-list"
                   data-track="/assets/demos/music/tracks/something-about-love.mp3"
                   data-poster="/assets/demos/music/tracks/poster-images/something-about-love.jpg"
                   data-title="Something About Love" data-singer="Sian"><i class="icon-play"></i></a>
               </div>
             </div>
           </div>

         </div>

         <!-- Tabs
					============================================= -->
         <div class="tabs tabs-bb tabs-music-demo customjs tabs-responsive dark topmargin-lg clearfix" id="album-tab"
           data-accordion-style="accordion-bg">
           <!-- Tabs Container
						============================================= -->
           <div class="tab-container">

             <div class="heading-block bottommargin-sm noborder dark">
               <h3>Popular Songs of the Week</h3>
               <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
             </div>

             <!-- Tab Content 1
							============================================= -->
             <div class="tab-content clearfix" id="tabs-1">
               <div
                 class="portfolio grid-container portfolio-full portfolio-masonry mixed-masonry music-tabs-albums clearfix">

                 <article class="portfolio-item wide">
                   <div class="portfolio-image">
                     <img src="/assets/demos/music/images/album-artworks/1/1.jpg" alt="">
                     <div class="overlay">
                       <div class="text-overlay">
                         <span class="font-primary">Justin Bieber</span>
                         <div class="text-overlay-title">
                           <h2><a href="#" class="font-secondary">Collections of My Worlds</a></h2>
                         </div>
                         <a href="#" class="button button-circle button-small t400 ls1 noleftmargin track-list clearfix"
                           data-track="demos/music/tracks/fallin-extended-mix.mp3"
                           data-poster="demos/music/tracks/poster-images/fallin-extended-mix.jpg"
                           data-title="Fallin Extended Mix" data-singer="Justin"
                           style="width: auto; display: inline-block; margin-top: 15px"><i class="icon-play"></i>Play
                           Now</a>
                         <a href="#"
                           class="button button-circle button-small button-border button-white button-light t400 ls1 clearfix"
                           style="width: auto;display: inline-block; margin-top: 15px">View All</a>
                       </div>
                       <div class="on-hover">
                         <a href="#"><i class="icon-line-heart"></i></a>
                         <a href="#" data-toggle="dropdown"><i class="icon-line-ellipsis"></i></a>
                         <ul class="dropdown-menu">
                           <li><a href="#"><span class="icon-line-plus"></span> Add to Queue</a></li>
                           <li><a href="#"><span class="icon-music"></span> Add to Playlist</a></li>
                           <li><a href="#"><span class="icon-line-cloud-download"></span> Download Offline</a></li>
                           <li><a href="#"><span class="icon-line-heart"></span> Love</a></li>
                           <li role="separator" class="divider"></li>
                           <li><a href="#"><span class="icon-line-share"></span> Share</a></li>
                         </ul>
                       </div>
                     </div>
                   </div>
                 </article>

                 <article class="portfolio-item">
                   <div class="portfolio-image">
                     <a href="#">
                       <img src="/assets/demos/music/images/album-artworks/1/2.jpg" alt="Locked Steel Gate">
                     </a>
                     <div class="overlay">
                       <div class="text-overlay">
                         <span class="font-primary">Nicki Minaj</span>
                         <div class="text-overlay-title">
                           <h2><a href="#" class="font-secondary">Pills n Positions</a></h2>
                         </div>
                       </div>
                       <div class="on-hover">
                         <a href="#"><i class="icon-line-heart"></i></a>
                         <a href="#"><i class="icon-line-ellipsis"></i></a>
                       </div>
                     </div>
                   </div>
                 </article>

                 <article class="portfolio-item">
                   <div class="portfolio-image">
                     <a href="#">
                       <img src="/assets/demos/music/images/album-artworks/1/3.jpg" alt="Mac Sunglasses">
                     </a>
                     <div class="overlay">
                       <div class="text-overlay">
                         <span class="font-primary">Rihanna</span>
                         <div class="text-overlay-title">
                           <h2><a href="#" class="font-secondary">Latest Collections of Rihanna</a></h2>
                         </div>
                       </div>
                       <div class="on-hover">
                         <a href="#"><i class="icon-line-heart"></i></a>
                         <a href="#"><i class="icon-line-ellipsis"></i></a>
                       </div>
                     </div>
                   </div>
                 </article>

                 <article class="portfolio-item">
                   <div class="portfolio-image">
                     <a href="#">
                       <img src="/assets/demos/music/images/album-artworks/1/4.jpg" alt="">
                     </a>
                     <div class="overlay">
                       <div class="text-overlay">
                         <span class="font-primary">David Guetta</span>
                         <div class="text-overlay-title">
                           <h2><a href="#" class="font-secondary">Collections of David Guetta</a></h2>
                         </div>
                         <a href="#" class="button button-circle button-small t400 ls1 noleftmargin track-list clearfix"
                           data-track="/assets/demos/music/tracks/something-about-love.mp3"
                           data-poster="/assets/demos/music/tracks/poster-images/something-about-love.jpg"
                           data-title="Something About Love" data-singer="Sian"
                           style="width: auto;display: inline-block; margin-top: 15px"><i class="icon-play"></i>Play
                           Now</a>
                         <a href="#"
                           class="button button-circle button-small button-border button-white button-light t400 ls1 clearfix"
                           style="width: auto;display: inline-block; margin-top: 15px">View All</a>
                       </div>
                       <div class="on-hover">
                         <a href="#"><i class="icon-line-heart"></i></a>
                         <a href="#"><i class="icon-line-ellipsis"></i></a>
                       </div>
                     </div>
                   </div>
                 </article>
               </div>
             </div>

           </div>

         </div>

       </div>


       <div class="section nobottommargin">
         <div class="container clearfix">

           <div class="col_one_fourth nobottommargin">
             <div class="feature-box fbox-plain fbox-dark fbox-small">
               <div class="fbox-icon">
                 <i class="icon-thumbs-up2"></i>
               </div>
               <h3>100% Original</h3>
               <p class="notopmargin">We guarantee you the sale of Original Brands.</p>
             </div>
           </div>

           <div class="col_one_fourth nobottommargin">
             <div class="feature-box fbox-plain fbox-dark fbox-small">
               <div class="fbox-icon">
                 <i class="icon-credit-cards"></i>
               </div>
               <h3>Payment Options</h3>
               <p class="notopmargin">We accept Visa, MasterCard and American Express.</p>
             </div>
           </div>

           <div class="col_one_fourth nobottommargin">
             <div class="feature-box fbox-plain fbox-dark fbox-small">
               <div class="fbox-icon">
                 <i class="icon-truck2"></i>
               </div>
               <h3>Free Shipping</h3>
               <p class="notopmargin">Free Delivery to 100+ Locations on orders above $40.</p>
             </div>
           </div>

           <div class="col_one_fourth nobottommargin col_last">
             <div class="feature-box fbox-plain fbox-dark fbox-small">
               <div class="fbox-icon">
                 <i class="icon-undo"></i>
               </div>
               <h3>30-Days Returns</h3>
               <p class="notopmargin">Return or exchange items purchased within 30 days.</p>
             </div>
           </div>

         </div>
       </div>

       <div class="section notopborder nobottomborder nomargin nopadding nobg footer-stick">
         <div class="container clearfix">

           <div class="col_half nobottommargin topmargin">
             <img src="/assets/images/services/4.jpg" alt="Image" class="nobottommargin">
           </div>

           <div class="col_half subscribe-widget nobottommargin col_last">

             <div class="heading-block topmargin-lg">
               <h3><strong>GET 20% OFF*</strong></h3>
               <span>Our App scales beautifully to different Devices.</span>
             </div>

             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet cumque, perferendis accusamus porro
               illo exercitationem molestias.</p>

             <div class="widget-subscribe-form-result"></div>
             <form id="widget-subscribe-form3" action="include/subscribe.php" role="form" method="post"
               class="nobottommargin">
               <div class="input-group" style="max-width:400px;">
                 <span class="input-group-addon"><i class="icon-email2"></i></span>
                 <input type="email" name="widget-subscribe-form-email" class="form-control required email"
                   placeholder="Enter your Email">
                 <span class="input-group-btn">
                   <button class="btn btn-danger" type="submit">Subscribe Now</button>
                 </span>
               </div>
             </form>

           </div>

         </div>
       </div>

     </div>

   </section>
   <!-- #content end -->
