  <!-- Music Content
		============================================= -->
  <section id="content" class="bgcolor2" style="overflow: visible;">

    <div class="content-wrap nopadding">

      <div class="container clearfix" style="z-index: 7;">
        <div class="heading-block bottommargin-sm noborder dark" style="margin-top: -30px">
          <h3>Latest Songs</h3>
          <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
        </div>

        <!-- Carousel
					============================================= -->
        <div id="oc-popular-songs" class="owl-carousel image-carousel carousel-widget" data-margin="20" data-nav="true"
          data-pagi="false" data-items-xxs="2" data-items-xs="3" data-items-sm="4" data-items-md="6" data-items-lg="6">

          <!-- Carousel Items
						============================================= -->
          <div class="oc-item" data-animate="fadeInDown">
            <img src="/assets/demos/music/images/popular-songs/8.jpg" alt="Image 1">
            <div class="overlay">
              <div class="text-overlay">
                <div class="text-overlay-title">
                  <h3><a href="#">Maq Amor</a></h3>
                </div>
                <div class="text-overlay-meta">
                  <a href="#">The Universe</a>
                </div>
              </div>
              <div class="on-hover">
                <a href="#" class="ellipsis-icon"><i class="icon-line-ellipsis"></i></a>
                <a href="#" class="play-icon track-list" data-track="/assets/demos/music/tracks/maq-amor.mp3"
                  data-poster="/assets/demos/music/tracks/poster-images/maq-amor.jpg" data-title="Maq Amor"
                  data-singer="The Universe"><i class="icon-play"></i></a>
              </div>
            </div>
          </div>
          <div class="oc-item" data-animate="fadeInDown" data-delay="100">
            <img src="/assets/demos/music/images/popular-songs/9.jpg" alt="Image 1">
            <div class="overlay">
              <div class="text-overlay">
                <div class="text-overlay-title">
                  <h3><a href="#">Stagger Lee</a></h3>
                </div>
                <div class="text-overlay-meta">
                  <a href="#">Ed Sheeran</a>
                </div>
              </div>
              <div class="on-hover">
                <a href="#" class="ellipsis-icon"><i class="icon-line-ellipsis"></i></a>
                <a href="#" class="play-icon track-list" data-track="demos/music/tracks/stagger-lee.mp3"
                  data-poster="demos/music/tracks/poster-images/stagger-lee.jpg" data-title="Stagger Lee"
                  data-singer="Ed Sheeran"><i class="icon-play"></i></a>
              </div>
            </div>
          </div>
          <div class="oc-item" data-animate="fadeInDown" data-delay="250">
            <img src="/assets/demos/music/images/popular-songs/7.jpg" alt="Image 1">
            <div class="overlay">
              <div class="text-overlay">
                <div class="text-overlay-title">
                  <h3><a href="#">Clean Clean</a></h3>
                </div>
                <div class="text-overlay-meta">
                  <a href="#">R Costello</a>
                </div>
              </div>
              <div class="on-hover">
                <a href="#" class="ellipsis-icon"><i class="icon-line-ellipsis"></i></a>
                <a href="#" class="play-icon track-list" data-track="demos/music/tracks/clean-clean.mp3"
                  data-poster="/assets/demos/music/images/popular-songs/7.jpg" data-title="Clean Clean"
                  data-singer="R Costello"><i class="icon-play"></i></a>
              </div>
            </div>
          </div>
          <div class="oc-item" data-animate="fadeInDown" data-delay="400">
            <img src="/assets/demos/music/images/popular-songs/1.jpg" alt="Image 1">
            <div class="overlay">
              <div class="text-overlay">
                <div class="text-overlay-title">
                  <h3><a href="#">Take The Dare</a></h3>
                </div>
                <div class="text-overlay-meta">
                  <a href="#">Bruno Mars</a>
                </div>
              </div>
              <div class="on-hover">
                <a href="#" class="ellipsis-icon"><i class="icon-line-ellipsis"></i></a>
                <a href="#" class="play-icon track-list" data-track="demos/music/tracks/take_the_dare.mp3"
                  data-poster="demos/music/images/popular-songs/1.jpg" data-title="Take The Dare"
                  data-singer="Bruno Mars"><i class="icon-play"></i></a>
              </div>
            </div>
          </div>
          <div class="oc-item" data-animate="fadeInDown" data-delay="550">
            <img src="/assets/demos/music/images/popular-songs/3.jpg" alt="Image 1">
            <div class="overlay">
              <div class="text-overlay">
                <div class="text-overlay-title">
                  <h3><a href="#">Fallin Extended Mix</a></h3>
                </div>
                <div class="text-overlay-meta">
                  <a href="#">Justin</a>
                </div>
              </div>
              <div class="on-hover">
                <a href="#" class="ellipsis-icon"><i class="icon-line-ellipsis"></i></a>
                <a href="#" class="play-icon track-list" data-track="demos/music/tracks/fallin-extended-mix.mp3"
                  data-poster="demos/music/tracks/poster-images/fallin-extended-mix.jpg"
                  data-title="Fallin Extended Mix" data-singer="Justin"><i class="icon-play"></i></a>
              </div>
            </div>
          </div>
          <div class="oc-item" data-animate="fadeInDown" data-delay="700">
            <img src="/assets/demos/music/images/popular-songs/4.jpg" alt="Image 1">
            <div class="overlay">
              <div class="text-overlay">
                <div class="text-overlay-title">
                  <h3><a href="#">I Need You Now</a></h3>
                </div>
                <div class="text-overlay-meta">
                  <a href="#">Skelton</a>
                </div>
              </div>
              <div class="on-hover">
                <a href="#" class="ellipsis-icon"><i class="icon-line-ellipsis"></i></a>
                <a href="#" class="play-icon track-list" data-track="demos/music/tracks/i-need-you-now.mp3"
                  data-poster="demos/music/tracks/poster-images/i-need-you-now.jpg" data-title="I Need You Now"
                  data-singer="Skelton"><i class="icon-play"></i></a>
              </div>
            </div>
          </div>
          <div class="oc-item" data-animate="fadeInDown">
            <img src="/assets/demos/music/images/popular-songs/2.jpg" alt="Image 1">
            <div class="overlay">
              <div class="text-overlay">
                <div class="text-overlay-title">
                  <h3><a href="#">Tammy Stan Devereaux</a></h3>
                </div>
                <div class="text-overlay-meta">
                  <a href="#">Devereaux</a>
                </div>
              </div>
              <div class="on-hover">
                <a href="#" class="ellipsis-icon"><i class="icon-line-ellipsis"></i></a>
                <a href="#" class="play-icon track-list" data-track="demos/music/tracks/tammy-stan-devereaux.mp3"
                  data-poster="demos/music/tracks/poster-images/tammy-stan-devereaux.jpg"
                  data-title="Tammy Stan Devereaux" data-singer="Devereaux"><i class="icon-play"></i></a>
              </div>
            </div>
          </div>
          <div class="oc-item" data-animate="fadeInDown">
            <img src="/assets/demos/music/images/popular-songs/5.jpg" alt="Image 1">
            <div class="overlay">
              <div class="text-overlay">
                <div class="text-overlay-title">
                  <h3><a href="#">Something About Love</a></h3>
                </div>
                <div class="text-overlay-meta">
                  <a href="#">Sian</a>
                </div>
              </div>
              <div class="on-hover">
                <a href="#" class="ellipsis-icon"><i class="icon-line-ellipsis"></i></a>
                <a href="#" class="play-icon track-list" data-track="demos/music/tracks/something-about-love.mp3"
                  data-poster="demos/music/tracks/poster-images/something-about-love.jpg"
                  data-title="Something About Love" data-singer="Sian"><i class="icon-play"></i></a>
              </div>
            </div>
          </div>

        </div>

        <div class="clear"></div>

        <app-eventwidget></app-eventwidget>

      </div>

    </div>

  </section>
  <!-- #content end -->
