  <!-- Document Wrapper
	============================================= -->
  <div id="wrapper" class="clearfix">

    <!-- <app-header></app-header> -->

    <app-slider></app-slider>

    <!-- Content
		============================================= -->
    <section id="content">

      <div class="content-wrap">

        <div class="container clearfix">

          <div class="clear bottommargin-sm"></div>

          <div class="heading-block bottommargin-sm noborder dark">
            <h3>Events and Gallery</h3>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
          </div>

          <div class="col-md-8 nopadding">

            <div class="col-md-6 noleftpadding bottommargin-sm">
              <a href="#"><img src="/assets/images/web/banner2.jpg" alt="Image"></a>
            </div>

            <div class="col-md-6 noleftpadding bottommargin-sm">
              <a href="#"><img src="/assets/images/shop/banners/8.jpg" alt="Image"></a>
            </div>

            <div class="clear"></div>

            <div class="col-md-12 noleftpadding">
              <a href="#"><img src="/assets/images/shop/banners/4.jpg" alt="Image"></a>
            </div>

          </div>

          <div class="col-md-4 nopadding">
            <a href="#"><img src="/assets/images/web/banner1.jpg" alt="Image"></a>
          </div>
        </div>

      </div>

    </section>
    <!-- #content end -->

    <app-songwidget></app-songwidget>



  </div>
  <!-- #wrapper end -->

  <!-- Audio Player
		============================================= -->

  <app-footer></app-footer>
